{% extends 'user.html' %}
{% block contents %}
<div class="col-lg-12 wow fadeIn text-md-start" style="margin-left: 50px;margin-right: 50px;" data-wow-delay="0.5s">
        <div>
                <h1 class="text-primary mb-5 text-center"><span class="fw-light text-dark">About</span> Us..</h1>
            </div>
            <div>
    <p class=" text-center"><h5>Our mission is to provide best of the products/brands at the affordable prices with great online shopping experience, excellent delivery and Prompt customer service.</h5></p>
    <p class="mb-4"><h5>Return Policy<br></h5>
        <ul>
        <li>If your product is defective / damaged or incorrect/incomplete at the time of delivery, please contact us within the applicable return window. Your product may be eligible for refund or replacement depending on the product category and condition.
        <li>Please note that some products are not eligible for a return if the product is "No longer needed".</li>
        <li> You will always find the relevant terms on the product page.</li>
        </ul>
        <p class="mb-4"><h5>Conditions for Returns<br></h5>
        <ul>
        <li>The product must be unused, unworn, unwashed and without any flaws. Fashion products can be tried on to see if they fit and will still be considered unworn.</li> 
        <li> The product must include the original tags, user manual, warranty cards, freebies and accessories.</li> 
        <li>The product must be returned in the original and undamaged manufacturer packaging / box. Do not put tape or stickers on the manufacturers box.</li> </p>
</ul>

</div>
{% endblock %}