{% extends 'admin.html' %}
{%block contents %}
    <!-- <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive"> -->
                <table class="table">
                  
                    <tr>
                      <th>Name </th>
                      <th>Email id</th>
                      <th>Phone Number</th>
                      <th>Password </th>
                    </tr>
                    {% for i in data%}
                    <tr>
                      <td>{{i.Name}}</td>
                      <td>{{i.Email}}</td>
                      <td>{{i.Phone}}</td>
                      <td>{{i.Password}}</td>
                    </tr>
                    
                    {% endfor %}
                    {% endblock %}