{% extends 'admin.html' %}
{%block contents %}
    <!-- <div class="content-wrapper" >
      <div class="row" style="padding-top: 0%;" >
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Products</h4>
              <div class="table-responsive"> -->
                <h4 class="card-title">Products</h4>
                <table class="table" border="1px" >
                  <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Category </th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Image</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                    {% for i in data%}
                    <tr>
                      <td>{{i.Product_name}}</td>
                      <td>{{i.Product_category}} </td>
                      <td>{{i.Product_description}}</td>
                      <td>{{i.Product_price}}</td>
                      <td><img src="{{i.Image.url}}"></td>
                      <td><a href="{% url 'edit_product' id=i.id %}"><label class="badge badge-info">Edit</label></a></td>
                      <td><a href="{% url 'delete_products' id=i.id %}"><label class="badge badge-danger">Delete</label></a></td>
                    </tr>
                    {% endfor %}
                    {% endblock %}